<template name="childMain">

    <div class="container">

        <div class="image-container center-block">
            <img src="childimage.jpg" class="img-circle child-image center-block" height>
        </div>

        <div class="button-options center-block">
            <div class="row options">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-turquoise">icon</button>
                    <p class="small">profile</p>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-orange">icon</button>
                    <p class="small">statistics</p>
                </div>
            </div>
            <div class="row options">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-purple">icon</button>
                    <p class="small">long term<br>tracking</p>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-blue">icon</button>
                    <p class="small">daily<br>tracking</p>
                </div>
            </div>
            <div class="row options">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-red">icon</button>
                    <p class="small">caregiver</p>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-lg btn-green">icon</button>
                    <p class="small">notes</p>
                </div>
            </div>
        </div>
    </div>
</template>